/* 主题颜色 */

/* 默认的浅色主题 */
:root {
    --text-color: black;
    --logo-text-color: #000000;
    --bg-color: #fff;
    --bg-particles-color: #000;
    --primary-btn-text-color: #fff;
    --glow-color: #888;
    --box-bg-color: #ffffff;
}

/* 深色主题 */
.dark{
    --text-color: white;
    --logo-text-color: #fff;
    --bg-color: #1c1c20;
    --bg-particles-color: #fff;
    --primary-btn-text-color: #fff;
    --glow-color: #fff;
    --box-bg-color: #1c1c20;
}